<div class="pf2e-downtime-project-editor">

    <div class="form-group">
        <label>Project ID</label>
        <div class="form-fields">
            <input type="text" name="id" value="{{project.id}}" readonly>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The uniquie identifier for this project. For informational purposes only, useful for developers.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <input type="text" name="owner" value="{{project.owner}}" hidden>

    <header class="pf2e-downtime-project-editor-header">General Info</header>   

    <div class="form-group">
        <label>Project Name</label>
        <div class="form-fields">
            <input type="text" name="name" value="{{project.name}}">
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The name of the project that displays on the Downtime tab of the character sheet.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <div class="form-group">
        <label>Image</label>
        <div class="form-fields">
            <file-picker name="img" type="image" value="{{project.img}}"></file-picker>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="An image that displays next to the project's name on the Downtime tab of the character sheet.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <div class="form-group">
        <label>Category</label>
        <div class="form-fields">
            <input type="text" name="category" value="{{project.category}}">
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The project will display on the downtime tab under a header with this name.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <header class="pf2e-downtime-project-editor-header">Project Progress</header>

    <div class="form-group">
        <label>Current Progress</label>
        <div class="form-fields">
            <input type="number" name="current" value="{{project.progress.current}}" max="{{project.progress.max}}" step="1">
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The current progress of the project. When this equals the max progress, the project will be considered complete.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <div class="form-group">
        <label>Max Progress</label>
        <div class="form-fields">
            <input type="number" name="max" value="{{project.progress.max}}" step="1">
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The maximum progress for the project. When the current progress reaches this threshold, the project will be considered complete.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <div class="form-group">
        <label>Progress Label</label>
        <div class="form-fields">
            <input type="text" name="label" value="{{project.progress.label}}">
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The unit of measure to display alongside progress. This could be anything: days, months, gp, etc. Leave blank for no units.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <header class="pf2e-downtime-project-editor-header">Notes</header>

    <div class="form-group">
        <div class="form-fields">
            <prose-mirror name="note" value="{{project.note}}" toggled="true">
                {{{project.note}}}
            </prose-mirror>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="Any notes for the project to help you keep track of any other aspects not otherwise covered. They're only displayed here.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <header class="pf2e-downtime-project-editor-header">Options</header>

    <div class="form-group">
        <label>GM Only</label>
        <div class="form-fields">
            <input type="checkbox" name="gmOnly" {{#if project.gmOnly}}checked{{/if}}>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="When checked, only the GM will be able to see this project on the downtime tabs and the Spend downtime dropdown.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <div class="form-group">
        <label>Info Only</label>
        <div class="form-fields">
            <input type="checkbox" name="infoOnly" {{#if project.infoOnly}}checked{{/if}}>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="When checked, this project will not be visible in the Spend downtime menu, but can be edited as normal.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

</div>