<div class="pf2e-downtime-project-editor">

    <div class="form-group">
        <label>Project ID</label>
        <div class="form-fields">
            <input type="text" name="id" value="{{project.id}}" readonly>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The uniquie identifier for this project. For informational purposes only, useful for developers.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <input type="text" name="owner" value="{{project.owner}}" hidden readonly>

    <header class="pf2e-downtime-project-editor-header">General Info</header>   

    <div class="form-group">
        <label>Project Name</label>
        <div class="form-fields">
            <input type="text" name="name" value="{{project.name}}" {{#unless (pf2e-downtime-user-can-edit project)}}readonly{{/unless}}>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The name of the project that displays on the Downtime tab of the character sheet.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <div class="form-group">
        <label>Image</label>
        <div class="form-fields">
            <file-picker name="img" type="image" value="{{project.img}}" {{#unless (pf2e-downtime-user-can-edit project)}}readonly{{/unless}}></file-picker>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="An image that displays next to the project's name on the Downtime tab of the character sheet.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <div class="form-group">
        <label>Category</label>
        <div class="form-fields">
            <input type="text" name="category" value="{{project.category}}" {{#unless (pf2e-downtime-user-can-edit project)}}readonly{{/unless}}>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The project will display on the Downtime tab under a header with this name.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <header class="pf2e-downtime-project-editor-header">Project Progress</header>

    <div class="form-group">
        <label>Current Progress</label>
        <div class="form-fields">
            <input type="number" name="current" value="{{project.progress.current}}" max="{{project.progress.max}}" step="1" {{#unless (pf2e-downtime-user-can-edit project)}}readonly{{/unless}}>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The current progress of the project. When this equals the max progress, the project will be considered complete.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <div class="form-group">
        <label>Max Progress</label>
        <div class="form-fields">
            <input type="number" name="max" value="{{project.progress.max}}" step="1" {{#unless (pf2e-downtime-user-can-edit project)}}readonly{{/unless}}>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The maximum progress for the project. When the current progress reaches this threshold, the project will be considered complete.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <div class="form-group">
        <label>Progress Label</label>
        <div class="form-fields">
            <input type="text" name="label" value="{{project.progress.label}}" {{#unless (pf2e-downtime-user-can-edit project)}}readonly{{/unless}}>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="The unit of measure to display alongside progress. This could be anything: days, months, gp, etc. Leave blank for no units.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <header class="pf2e-downtime-project-editor-header">Notes</header>

    <div class="form-group pf2e-downtime-one-col">
        <div class="form-fields">
            <prose-mirror name="note" value="{{project.note}}" toggled="true" {{#unless (pf2e-downtime-user-can-edit project)}}readonly{{/unless}}>
                {{{project.note}}}
            </prose-mirror>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="Any notes for the project to help you keep track of any other aspects not otherwise covered. They're only displayed here.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <header class="pf2e-downtime-project-editor-header">Options</header>

    <div class="form-group">
        <label>Progress Gained Per {{unit_cap}} {{#if project.progress.label}} ({{project.progress.label}}) {{/if}}</label>
        <div class="form-fields">
            <input type="text" name="perDay" value="{{project.progress.perDay}}" {{#unless (pf2e-downtime-user-can-edit project)}}readonly{{/unless}}>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="Entering a value will let the module automatically calculate Progress Gained for this project when you Spend downtime, based on the number of {{unit}}s spent. The calculated value can be adjusted afterwards. Leave this blank if you want to manually enter a value each time.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>    
    
    <div class="form-group">
        <label>Players Can View</label>
        <div class="form-fields">
            <input type="checkbox" name="playerCanView" {{checked project.playerCanView}} {{#unless user.isGM}}readonly{{/unless}}>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="When checked, this project will be visible to players on the Downtime tab. They won't see it in the Spend Downtime dropdown unless they also have Edit access.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <div class="form-group">
        <label>Players Can Edit</label>
        <div class="form-fields">
            <input type="checkbox" name="playerCanEdit" {{checked project.playerCanEdit}} {{#unless user.isGM}}readonly{{/unless}}> 
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="When checked, this project will be editable by players and visible to them in the Spend Downtime dropdown. Does nothing if the players don't have View access.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>

    <div class="form-group">
        <label>Hide From Spend Downtime Dropdown</label>
        <div class="form-fields">
            <input type="checkbox" name="disableSpend" {{checked project.disableSpend}} {{#unless (pf2e-downtime-user-can-edit project)}}readonly{{/unless}}>
        </div>
        <div class="pf2e-downtime-help-icon"
             data-tooltip="When checked, this project won't appear in the Spend Downtime dropdown, even if the players have Edit access.">
            <i class="fas fa-circle-question"></i>
        </div>
    </div>



</div>