<div class="tab pf2e-downtime" data-tab="pf2e-downtime">
    <div class="pf2e-downtime-tab-content">
        {{!-- DOWNTIME MANAGEMENT  --}}
        {{#if user.isGM}}
        <header class="pf2e-downtime-header">Manage Downtime</header>   
        <div class="pf2e-downtime-management">
            <button class="pf2e-downtime-award-downtime" type="button" title="Award Dowmtime"><i class="fas fa-house"></i> Award Downtime to Party</button>
        </div>
        {{/if}}
        
        {{!-- DOWNTIME PROJECTS --}}
        {{#if showDefaultHeader}}<header class="pf2e-downtime-header">Downtime Projects</header>{{/if}}
        {{#each projectData}}
        <header class="pf2e-downtime-header">{{this.categoryName}}</header>
        
        <ul class="pf2e-downtime-projects-list">
            {{#each this.projects}}
            <li class="pf2e-downtime-project">
                <div class="pf2e-downtime-project-image">
                    <img src="{{this.img}}"></>
                </div>
                <h4 class="pf2e-downtime-project-title {{#if (eq this.progress.current this.progress.max)}}pf2e-downtime-complete{{/if}}">
                    {{#unless this.playerCanView}}<i class="fas fa-eye-slash" data-tooltip="Players cannot see this item."></i>{{/unless}}
                    <span data-tooltip="{{this.name}}">{{this.name}}</span>
                </h4>
                <div class="pf2e-downtime-project-progress">
                    <div class="pf2e-downtime-bar">
                        <div class="pf2e-downtime-bar-label">{{this.progress.current}} / {{this.progress.max}} {{this.progress.label}}</div>
                        <div class="pf2e-downtime-bar-fill" style="width: {{pf2e-downtime-progress-percent this}}%"></div>
                    </div>
                </div>
                {{#if ../../actor.isOwner}}
                <div class="pf2e-downtime-project-controls">
                    <button class="pf2e-downtime-restart-project"
                            type="button"
                            title="Restart Project"
                            data-tooltip="Restart Project"
                            {{#unless (pf2e-downtime-user-can-edit this)}}disabled{{/unless}}
                            data-pf2e-downtime-project-id="{{this.id}}">
                        <i class="fas fa-undo"></i>
                    </button>
                    <button class="pf2e-downtime-edit-project" 
                            type="button" 
                            title="Edit Project"
                            data-tooltip="Edit Project"
                            data-pf2e-downtime-project-id="{{this.id}}">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="pf2e-downtime-delete-project" 
                            type="button" 
                            title="Delete Project"
                            data-tooltip="Delete Project"
                            {{#unless (pf2e-downtime-user-can-edit this)}}disabled{{/unless}}
                            data-pf2e-downtime-project-id="{{this.id}}">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>  
                {{/if}} 
            </li>
            {{/each}}
        </ul>
        {{/each}}

        {{#if actor.isOwner}}
        <button class="pf2e-downtime-add-project" type="button" title="Add New Project"><i class="fas fa-plus"></i> New Shared Project</button>
        {{/if}}
    </div>
</section>